@keyframes playerOptionNone {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


@keyframes playerOptionMove {
    0% {
        opacity: 1;
        border: 5px solid rgb(55, 130, 236);
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes resetCalcBorder {
    0% {
        border: 0;
    }

    50% {
        border: 5px solid rgb(55, 130, 236);
    }

    100% {
        border: 0;
    }
}


@keyframes buttons {
    0% {
        color: black;
        cursor: pointer;
    }

    50% {
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }


    100% {
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
}


@keyframes counter {
    0% {
        font-size: 2em;
        font-weight: bolder;
    }

    50% {
        font-size: 3.5em;
        font-weight: bolder;
    }


    100% {
        font-size: 2em;
        font-weight: bolder;
    }
}


@keyframes winRotation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }


    100% {
        transform: rotate(0deg);
    }
}
