* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#container {
    display: grid;
    width: 100%;
    height: 100vh;
    border: 1px dashed;
    gap: 5px;
    grid-template-areas:
        "header header header"
        "player-text menu-text computer-text"
        "player menu computer"
        "footer footer footer"
    ;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-columns: 39% 19% 39%;
}

.header {
    grid-area: header;
}

.player-side {
    grid-area: player;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.player-side-text {
    grid-area: player-text;
    display: flex;
    justify-content: center;
    align-items: center;
}


.player-side img {
    width: 30%;
    height: 40%;
    padding-right: 1%;
    border-radius: 6%;
    cursor: pointer;

}

.player-side-paper {
    border: 5px solid rgb(55, 130, 236);
}

.player-side-rock {
    border: 5px solid rgb(55, 130, 236);
}

.player-side-scissors {
    border: 5px solid rgb(55, 130, 236);
}

.player-side-paper-none {
    opacity: 0;
    transition: opacity 0.8s linear 0.5s;
}

.player-side-rock-none {
    opacity: 0;
    transition: opacity 0.8s linear 0.5s;
}

.player-side-scissors-none {
    opacity: 0;
    transition: opacity 0.8s linear 0.5s;
}


.menu {
    grid-area: menu;
    background-color: grey;
}

.computer-side {
    grid-area: computer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    margin-right: 5%;
}

.computer-side-text {
    grid-area: computer-text;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer-side img {
    width: 50%;
    height: 60%;
    border-radius: 6%;

}


.computer-side .rock {
    display: none;
}

.computer-side .scissors {
    display: none;
}

.computer-side .paper {
    /* display: none; */
    border: 1;
}


.footer {
    grid-area: footer;
}
